div.connectMapPanel {
    cursor: pointer;
    width: 20vw;
    min-width: 300px;
    height: 100%;
    position: absolute;
    color: #fff;
    display: none;
    background-color: #26466D;
    z-index: 1500;
    padding: 15px;
}

.conInput {
    width: 100%;
}

.conInput label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.conInput label.conInputCheck {
    display: inline-block;
    padding-right: 20px;
}

.conInput input[type="text"], .conInput textarea {
    display: block;
    width: calc(100% - 30px);
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.8), 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
    color: #333;
    font-size: 12px;
    margin-bottom: 18px;
    padding: 8px;
}
.conSettings button {
    margin-top: 30px;
}
.conIcon {
    position: relative;
    top: -44px;
    right: -10px;
    text-align: right;
}
.conIcon svg {
    width: 22px;
    height: 22px;
}
.conInput svg {
    position: relative;
    top: -44px;
    left: calc(100% - 40px);
    width: 22px;
    height: 22px;
}
.conLink {
    padding: 0px 10px 0px 5px;
}
.conLink svg {
    width: 18px;
    height: 18px;
}
.conLink svg path {
    fill: #666;
}
.exclamation-circle path {
    fill: red;
}
.check-circle path {
    fill: green;
}
.conMgtPanel {
    padding: 5px 0px;
}
